// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/bootstrap/scss/_variables.scss";
// @mixin color-variant($color) {
//     background-color: lighten($color, 10%);
// }
@mixin color-var-dark($color) {
    background-color: darken($color, 20%);
}

@function color-light($color) {
    @return lighten($color, 10%);
}
@function color-dark($color) {
    @return darken($color, 20%);
}

@mixin make-color($color) {
    background-image: linear-gradient(
        90deg,
        $color 33.333%,
        color-dark($color) 33.333%,
        color-dark($color) 66.666%,
        color-light($color) 66.666%
    );
}

.card {
    > .bg-purpel-400 {
        // @include color-variant($purple);
        @include color-var-dark($purple);
    }
}

.item {
    width: 9rem;
    height: 6rem;
    margin: 2rem 0;
}
.bg-1 {
    @include make-color($yellow);
}

.bg-2 {
    @include make-color($red);
}

.bg-3 {
    @include make-color($blue);
}

.bg-4 {
    @include make-color($purple);
}
